* {
  margin: 0;
}

/*navigation section*/
#header {
  background: #1f2235;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-logo {
  width: 250px;
  margin-left: 50px;
}

.lists {
  list-style: none;
  margin: 20px;
}

.lists>a {
  text-decoration: none;
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  transition: 0.05s;
}

.lists>a:hover {
  color: #FF4A57;
}

.unordered-list {
  display: flex;
}

/*home section*/
#home {
  padding-top: 120px;
  background: #23263A;
  padding-bottom: 100px;
}

.home-button-container {
  display: flex;
  padding: 5px 10px;
  margin-left: 140px;
}

.home-button-container>li {
  list-style: none;
  margin-right: 26px;
  margin-left: 10px;
}

.btn-1 {
  background: #1F2235;
  color: #fff;
  padding: 7px 9px;
  border: 1px #FF4A57 solid;
  border-radius: 100%;
  margin-left: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-1:hover {
  background: #FF4A57;
  transform: rotateY(-30deg) rotateZ(20deg) rotateY(20deg);
}

.text-container {
  margin-top: 20px;
  margin-left: 143px;
  margin-right: 250px;
  width: 500px;
  display: inline-block;
  vertical-align: top;
}

.aside-container {
  display: inline-block;
}


.author-name {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.about-author {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 25px;

}

.main-2-logo {
  width: 350px;
}

.portfolio {
  background: #23263A;
  color: #fff;
  border: 2px #FF4A57 solid;
  border-radius: 30px;
  padding: 13px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.play-logo {
  background: #FF4A57;
  color: #dfdfdf;
  border: none;
  border-radius: 30px;
  padding: 13px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
}

.portfolio:hover {
  background: #FF4A57;
}

/* service section */
#service {
  background: #1F2235;
  padding-bottom: 150px;
}

.service-container {
  box-sizing: border-box;
  width: 500px;
  margin: auto;
}

.service-head {
  color: #FF4A57;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.sub-service-head {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  margin-bottom: 15px;
}

.about-lorem {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 24px;
}

.horizontal-rule {
  background: #FF4A57;
  border: none;
  width: 50px;
  padding: 2px;
  margin: auto;
}

.container-card-logo {
  width: 50px;
  margin-left: 24px;
  cursor: pointer;
  transition: 0.2s;
}

.container-card-logo:hover {
  transform: rotateZ(50deg);
}

.container-cat-lorem {
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
}

.container-cat-lorem>h5 {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 8px;
}

.container-cat-lorem>p {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 8px;
  line-height: 18px;
}

.sub-grid-container {
  padding: 35px 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.17);
  width: 300px;
  border-radius: 4px;
  transition: 0.5s;
}

.sub-grid-container:hover {
  background: #FF4A57;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 15px;
  margin-left: 150px;
  margin-right: 100px;
  margin-top: 50px;
}

.btn-2 {
  width: 100%;
}

/*blog section*/

#blog {
  background: #23263A;
  padding-bottom: 100px;
}

.blog-container {
  box-sizing: border-box;
  width: 450px;
  margin: auto;
}

.about-post {
  color: #FF4A57;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.latest-blog {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.dummy-lorem-text {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 17px;
  line-height: 22px;
}

.panama-logo {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.dmain-blog-container {
  background: #2c2e3f;
  width: auto;
  padding-bottom: 100px;
  margin-top: 50px;
}

.dmain-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
}

.cal-admin-comment-container {
  display: flex;
}

.cal-admin-comment-container>li {
  list-style: none;
  margin-left: 7px;
}

.secret-par-container>.par-1-cont {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.secret-par-container {
  margin-left: 15px;
}

/*about section*/
#about {
  background: #1F2235;
  padding-bottom: 100px;
}

.aboutme-container {
  width: 500px;
  margin: auto;
}

.aboutme-container>h2 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 60px;
}

.aboutme-container>p {
  color: #DFDFDF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 15px;
  text-align: center;
}

.main-3-logo {
  width: 100%;
  height: 100%;
}

.main3-cont {
  width: 400px;
  height: 400px;
}

.aboutme-text-container {
  width: 550px;
  margin-left: 80px;
  margin-top: 80px;
  display: inline-block;
  vertical-align: top;
}

.aboutme-text-container>h3 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 20px;
}

.aboutme-text-container>p {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  text-align: justify;
}

.aboutme-cont-text {
  margin-top: 80px;
  display: inline-block;
  margin-left: 150px;
}

.value-grid {
  width: 550px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 25px;
}

.value-container>.name {
  color: #FF4A57;
  font-size: 13px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 7px;
}

.value-container>.other-name {
  color: #dfdfdf;
  font-size: 13px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*contact section*/
#contact {
  background: #1f2235;
  padding-bottom: 100px;
}

.query-container {
  width: 500px;
  margin: auto;
  text-align: center;
}

.query-section {
  color: #FF4A57;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.query-contact {
  color: #fff;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.info-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 35px;
  margin-left: 150px;
  margin-right: 150px;
}

.i-icon-container,
.location-sms-container {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.address-1 {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.address {
  color: #dfdfdf;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.card-container {
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.17);
  width: 330px;
  padding: 24px;
  border-radius: 4px;
}

.form-1 {
  color: #fff;
  background: #23263a;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.17);
  padding: 25px 35px;
  width: 430px;
  margin-left: 150px;
  margin-right: -120px;
  margin-top: 50px;
  display: inline-block;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.form-2 {
  display: block;
  color: #fff;
  background: #23263a;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.17);
  padding: 25px 35px;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 150px;
  width: 960px;
}

.form-3 {
  margin-left: 150px;
  display: block;
  margin-top: 50px;
  background: #23263A;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submit-button {
  display: block;
  margin-top: 30px;
  margin-left: 150px;
  background: #FF4A57;
  color: #dfdfdf;
  border: none;
  padding: 18px 55px;
  font-size: 15px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 40px;
  cursor: pointer;
}

/*footer section*/
#footer {
  background: #23263A;
  padding-bottom: 100px;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.btn-unordered-list {
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn-unordered-list>li {
  list-style: none;
  margin-top: 20px;
  margin-right: 17px;
}

.btn-2 {
  width: 40px;
  cursor: pointer;
}

.dummy-footer-container {
  width: 650px;
  margin: auto;
  margin-top: 0;
}

.dummy-footer-container>p {
  color: #dfdfdf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.footer-btn-container {
  margin-top: 25px;
}

.footer-last-text {
  margin-top: 75px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.my-name {
  color: #FF4A57;
  transition: 0.2s;
}

.my-name:hover {
  color: #fff;
}

#my-name {
  text-decoration: none;
}

/*portfolio section*/
#portfolio {
  background: #23263A;
  padding-bottom: 100px;
}

.portfolio-head-container {
  margin: auto;
  width: 500px;
}

.portfolio-showcase {
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 500px;
  line-height: 70px;
}

.portfolio-text {
  color: #dadadb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
  line-height: 25px;
  margin-bottom: 15px;
}

.AABDW {
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #dadadb;
  margin-right: 30px;
  cursor: pointer;
}

.work {
  border: 2px solid #ff4a57;
  padding: 7px 17px;
  border-radius: 25px;
  transition: 0.05s;
}

.work:hover {
  background: #ff4a57;
}

.work-1,
.work-2,
.work-3,
.work-4 {
  padding: 7px 17px;
  border-radius: 25px;
  transition: 0.2s
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover {
  background: #ff4a57;
}

.portfolio-container {
  display: flex;
  justify-content: center;
}

#diff-portfolio-sections {
  width: 700px;
  margin: auto;
  margin-top: 55px;
}

.left-img {
  max-width: 350px;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: 0.2s;
}

.mid-img {
  max-height: 80vh;
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: 0.2s;
}

.right-img {
  max-width: 350px;
  margin-bottom: 30px;
  border-radius: 5px;
  transition: 0.2s;
}

.isotope-container {
  display: flex;
  margin-top: 70px;
  margin-left: 130px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.middle-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.2s
}