.service-cont {
  background: #1f2235;
  scroll-behavior: smooth;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 100px;
}

.my-service {
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 25px;
}

.horizontal-rule {
  width: 60px;
  margin: auto;
  padding: 2px;
  border: none;
  background: #ff4a57;
}

.about-service {
  line-height: 35px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #dbdbdb;
}

.sub-container {
  margin-bottom: 40px;
}

.column-1 {
  background: #23263A;
  border-radius: 45px;
  padding: 35px;
  transition: 0.2s ease;
  border: 10px solid #1f2235;
}


.column-1:hover {
  background: #ff4a57;
  color: #fff;
}

.column-1 .fa-icon {
  transition: transform 1s ease;
}

.column-1:hover .fa-icon {
  transform: rotateY(350deg);
  color: #fff;
}

.fa-icon {
  font-weight: bold;
  font-size: 40px;
  color: #ff4a57;
}

.title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 23px;

}

.title-note {
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
}