.testimonial {
  background: #1f2235;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #dbdbdb;
}

.testCont h3 {
  color: #ff4a57;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}

.testCont h2 {
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 20px;
}

.testCont p {
  color: #dbdbdb;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 15px;
}

.testCont button {
  background: #1f2235;
  border: 2px solid #ff4a57;
  color: #ccc;
  font-weight: 700;
  padding: 13px 35px;
  border-radius: 35px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.testCont button:hover {
  background: #ff4a57;
}

.secondTestCont p {
  font-weight: bold;
  font-size: 18px;
  color: #ccc;
}

.secondTestCont {
  background: #23263A;
  padding: 30px 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btnChevLeft,
.btnChevRight {
  border: 2px solid #fff;
  background: #23263A;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
}

.btnChevLeft:hover,
.btnChevRight:hover {
  border: 2px solid #ff4a57;
}

.isaac-img {
  width: 75px;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 0 10px;
}

.subIsaacCont h4 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 0;
}

.subIsaacCont p {
  font-weight: 700;
  font-size: 15px;
}

.rightArrow {
  font-weight: bold;
  position: relative;
  top: -1px;
  right: -10px;
  cursor: pointer;
  transition: 0.2s;
}

.seeMore {
  font-weight: bold;
  position: relative;
  top: -27px;
  left: 150px;
  cursor: pointer;
  transition: 0.2s;
}

.rightArrow:hover,
.seeMore:hover {
  color: #ff4a57;
}